.rojo{
    color: red;
}

.centrar{
    text-align: center;
}

.ocuparMaximo{
    width: 100%;
}

.sinEspacios{
    padding: 0px;
    margin: 0px;
    border: none;
}

.sinEspacios.ui-panelgrid>*>tr,
.sinEspacios.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}